[user]
	email = ihrachys@redhat.com
	name = Ihar Hrachyshka

[pw]
	server = https://patchwork.ozlabs.org/api/1.2
	project = ovn

[sendemail]
	confirm = auto
	smtpServer = smtp.gmail.com
	smtpServerPort = 587
	smtpEncryption = tls
	smtpUser = ihrachys@redhat.com

[alias]
	# from https://stackoverflow.com/questions/61195770/git-format-patch-repository-name-in-prefix-or-generated-prefix
	format-patch-repo = !git format-patch --subject-prefix=\"PATCH $(basename $(git rev-parse --show-toplevel))\"

[include]
	path = ~/.gitconfig.local
[rerere]
	enabled = true
[branch]
	sort = -committerdate
